.margen{
    min-height: 100%; 
    height: 400px; 
    width: 100%; 
    background-image: url(../../../assets/images/fondo.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}

