<body>
    <div class="form-body">
        <img src="../../../assets/images/log.png" alt="userLogin">
        <p class="text">Bienvenido Daniel</p>
        <form [formGroup]="formulario" class="login-form">
            <input formControlName="username" type="text" placeholder="Nombre de usuario" required>
            <input formControlName="password" type="password" placeholder="Ingresa contraseña" required>
            <button (click)="login(formulario.value)">Ingresar</button>
            <button type="submit" (click)="createUser(formulario.value)">Registrase</button>
        </form>
    </div>
</body>