<header>
    <section class="sect">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item"><a class="nav-link" href="#perf">Perfil</a></li>
                        <li class="nav-item"><a class="nav-link" href="#educ">Educación</a></li>
                        <li class="nav-item"><a class="nav-link" href="#habil">Habilidades</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contac">Contáctame</a></li>
                    </ul>
                </div>
                <div *ngIf="isLogged===true">
                    <button class="btn btn-danger escondido" type="button" (click)="cerrarSesion()">Cerrar sesión</button>
                </div>
            </div>
        </nav>
    </section>
</header>
<section class="separacion">
    .
</section>