<div class="container">
    <h2 mat-dialog-title>Crear escuela nueva</h2>
<mat-dialog-content>
    Nombre de la escuela: <br>
    <input #ident type="text" placeholder="{{data.nombreEscuela}}"> <br>
    Generación: <br>
    <input #gen type="text" placeholder="{{data.generacion}}"> <br>
    Nivel educativo: <br>
    <input #niv type="text" placeholder="{{data.tipo}}"> <br>
    Comentarios: <br>
    <input #com type="text" placeholder="{{data.comentario}}"> <br>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="updateEscuela(data.idEscuela,ident.value,gen.value,niv.value,com.value)" mat-dialog-close>ENVIAR</button> &nbsp;&nbsp;
    <button type="button" mat-dialog-close>CANCELAR</button>
</mat-dialog-actions>
</div>
